{% extends 'layout.html' %}
{% from 'macros.html' import render_field %}
{% block content %}

<div class="entry-list single">
    <article>
        <h1>{{ entry.title }}</h1>
        <time datetime="2016-01-31">{{ entry.date.strftime('%Y-%m-%d') }}</time>
        <div class="entry">
            <h3>Time Spent: </h3>
            <p>{{ entry.time_spent }}</p>
        </div>
        <div class="entry">
            <h3>What I Learned:</h3>
            <p>{{ entry.what_you_learned }}</p>
        </div>
        <div class="entry">
            <h3>Resources to Remember:</h3>
            <p>{{ entry.resources_to_remember }}</p>
        </div>
        <div class="entry">
            <h3>Tag:</h3>
            <p><a href="{{ url_for('search_results', tag=entry.tag) }}">{{ entry.tag }}</a></p>
        </div>
        <div>
            <a href=" {{ url_for('edit_entry', slug=entry.slug) }}" class="btn btn-primary mb-0">Edit</a>
            <a href="{{ url_for('delete_entry', slug=entry.slug) }}" class="btn btn-secondary mb-0">Delete</a>
        </div>
    </article>
</div>
{% endblock %}