{% extends 'layout.html' %}
{% from 'macros.html' import render_field %}
{% block content %}

<form method='POST' action=''>
    {{ form.hidden_tag() }}
    <div class="text-center mt-3 mb-3">
        <a>Login MyJournal</a>
    </div>
    <div class="form-group mb-0">
        {{ render_field(form.email) }}
    </div>
    <div class="form-group mb-0">
        {{ render_field(form.password) }}
    </div>
    <div class=text-center>
        <input type="submit" class="btn btn-primary mb-0" value="Login"></input>
    </div>
</form>
{% endblock %}